## Устанавливаем необходимые библиотеки SQL для работы в JN

Устанавливаем MySQL https://dev.mysql.com/downloads/installer/

Устанавливаем необходимые библиотеки:

In [1]:
# !pip install pymysql  # не надо
# !pip install ipython-sql
# !pip install mysqlclient
# !pip install mysql-connector-python  # не надо
# !pip install sqlalchemy

Устанавливаем соединениес MySQL:

In [1]:
import sqlalchemy

In [2]:
sqlalchemy.create_engine("mysql://root:123qwe@localhost/mydb")

Engine(mysql://root:***@localhost/mydb)

In [3]:
%load_ext sql

In [4]:
%sql mysql://root:123qwe@localhost/mydb

### Структура и наполнение таблиц (на курсе порядок строк может немного отличаться, но решение от этого не изменится):

В таблице **fine**  представлена информация о начисленных водителям штрафах за нарушения правил дорожного движения (ПДД) (фамилия водителя, номер машины, описание нарушения, сумма штрафа, дата совершения нарушения и дата оплаты штрафа):

In [14]:
%%sql
DROP TABLE IF EXISTS fine;

CREATE TABLE fine
(
    fine_id        INT PRIMARY KEY AUTO_INCREMENT,
    name           VARCHAR(30),
    number_plate   VARCHAR(6),
    violation      VARCHAR(50),
    sum_fine       DECIMAL(8, 2),
    date_violation DATE,
    date_payment   DATE
);

INSERT INTO fine(name, number_plate, violation, sum_fine, date_violation, date_payment)
VALUES ('Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', NULL, '2020-02-14 ', NULL),
       ('Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', NULL, '2020-02-23', NULL),
       ('Яковлев Г.Р.', 'T330TT', 'Проезд на запрещающий сигнал', NULL, '2020-03-03', NULL),
       ('Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', 500.00, '2020-01-12', '2020-01-17'),
       ('Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', 1000.00, '2020-01-14', '2020-02-27'),
       ('Яковлев Г.Р.', 'T330TT', 'Превышение скорости(от 20 до 40)', 500.00, '2020-01-23', '2020-02-23'),
       ('Яковлев Г.Р.', 'M701AA', 'Превышение скорости(от 20 до 40)', NULL, '2020-01-12', NULL),
       ('Колесов С.П.', 'K892AX', 'Превышение скорости(от 20 до 40)', NULL, '2020-02-01', NULL);

SELECT * FROM fine;

 * mysql://root:***@localhost/mydb
0 rows affected.
0 rows affected.
8 rows affected.
8 rows affected.

[(1, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', None, datetime.date(2020, 2, 14), None),
 (2, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', None, datetime.date(2020, 2, 23), None),
 (3, 'Яковлев Г.Р.', 'T330TT', 'Проезд на запрещающий сигнал', None, datetime.date(2020, 3, 3), None),
 (4, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', Decimal('500.00'), datetime.date(2020, 1, 12), datetime.date(2020, 1, 17)),
 (5, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('1000.00'), datetime.date(2020, 1, 14), datetime.date(2020, 2, 27)),
 (6, 'Яковлев Г.Р.', 'T330TT', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 1, 23), datetime.date(2020, 2, 23)),
 (7, 'Яковлев Г.Р.', 'M701AA', 'Превышение скорости(от 20 до 40)', None, datetime.date(2020, 1, 12), None),
 (8, 'Колесов С.П.', 'K892AX', 'Превышение скорости(от 20 до 40)', None, datetime.date(2020, 2, 1), None)]

В таблицу **traffic_violation** занесены нарушения ПДД и соответствующие штрафы (в рублях):

In [13]:
%%sql
DROP TABLE IF EXISTS traffic_violation;

CREATE TABLE traffic_violation
(
    violation_id INT PRIMARY KEY AUTO_INCREMENT,
    violation    VARCHAR(50),
    sum_fine     DECIMAL(8, 2)
);

INSERT INTO traffic_violation (violation, sum_fine)
VALUES ('Превышение скорости(от 20 до 40)', 500),
       ('Превышение скорости(от 40 до 60)', 1000),
       ('Проезд на запрещающий сигнал', 1000);

SELECT * FROM traffic_violation;

 * mysql://root:***@localhost/mydb
0 rows affected.
0 rows affected.
3 rows affected.
3 rows affected.

[(1, 'Превышение скорости(от 20 до 40)', Decimal('500.00')),
 (2, 'Превышение скорости(от 40 до 60)', Decimal('1000.00')),
 (3, 'Проезд на запрещающий сигнал', Decimal('1000.00'))]

## 1.7.2 Задание

Создать таблицу **fine** следующей структуры (создана выше):

In [5]:
# %%sql
# CREATE TABLE fine
# (
#     fine_id        INT PRIMARY KEY AUTO_INCREMENT,
#     name           VARCHAR(30),
#     number_plate   VARCHAR(6),
#     violation      VARCHAR(50),
#     sum_fine       DECIMAL(8, 2),
#     date_violation DATE,
#     date_payment   DATE
# );

## 1.7.3 Задание

В таблицу **fine** первые 5 строк уже занесены. Добавить в таблицу записи с ключевыми значениями 6, 7, 8. (добавлены выше).

In [7]:
# %%sql
# INSERT INTO fine(name, number_plate, violation, sum_fine, date_violation, date_payment)
# VALUES ('Баранов П.Е.', 'Р523ВТ', 'Превышение скорости(от 40 до 60)', null, '2020-02-14', null),
#        ('Абрамова К.А.', 'О111АВ', 'Проезд на запрещающий сигнал', null, '2020-02-23', null),
#        ('Яковлев Г.Р.', 'Т330ТТ', 'Проезд на запрещающий сигнал', null, '2020-03-03', null);
# SELECT * FROM fine;

## 1.7.4 Использование временного имени таблицы (алиаса)

In [8]:
%%sql
UPDATE
    fine AS f,
    traffic_violation AS tv
SET
    f.sum_fine = tv.sum_fine
WHERE
    f.violation = tv.violation AND
    f.sum_fine IS Null;

 * mysql://root:***@localhost/mydb
5 rows affected.

[]

In [9]:
%%sql
SELECT * FROM fine;

 * mysql://root:***@localhost/mydb
8 rows affected.

[(1, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', Decimal('1000.00'), datetime.date(2020, 2, 14), None),
 (2, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('1000.00'), datetime.date(2020, 2, 23), None),
 (3, 'Яковлев Г.Р.', 'T330TT', 'Проезд на запрещающий сигнал', Decimal('1000.00'), datetime.date(2020, 3, 3), None),
 (4, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', Decimal('500.00'), datetime.date(2020, 1, 12), datetime.date(2020, 1, 17)),
 (5, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('1000.00'), datetime.date(2020, 1, 14), datetime.date(2020, 2, 27)),
 (6, 'Яковлев Г.Р.', 'T330TT', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 1, 23), datetime.date(2020, 2, 23)),
 (7, 'Яковлев Г.Р.', 'M701AA', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 1, 12), None),
 (8, 'Колесов С.П.', 'K892AX', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 2, 1), None)]

## 1.7.5 Группировка данных по нескольким столбцам

Вывести фамилию, номер машины и нарушение только для тех водителей, которые на одной машине нарушили одно и то же правило   два и более раз. При этом учитывать все нарушения, независимо от того оплачены они или нет. Информацию отсортировать в алфавитном порядке, сначала по фамилии водителя, потом по номеру машины и, наконец, по нарушению.

In [10]:
%%sql
SELECT
    name,
    number_plate,
    violation
FROM
    fine
GROUP BY
    name,
    number_plate,
    violation
HAVING
    count(*) > 1
ORDER BY
    name ASC,
    number_plate ASC,
    violation ASC;

 * mysql://root:***@localhost/mydb
2 rows affected.

[('Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал'),
 ('Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)')]

## 1.7.6 Задание

В таблице **fine** увеличить в два раза сумму неоплаченных штрафов для отобранных на предыдущем шаге записей.

In [12]:
%%sql
UPDATE
    fine AS f,
    (SELECT name, number_plate, violation
     FROM fine
     GROUP BY name, number_plate, violation
     HAVING count(*) > 1) AS t
SET
    f.sum_fine = f.sum_fine * 2
WHERE
    (f.name, f.number_plate, f.violation) = 
    (t.name, t.number_plate, t.violation) AND
     f.date_payment IS Null;

 * mysql://root:***@localhost/mydb
2 rows affected.

[]

In [13]:
%%sql
SELECT * FROM fine;

 * mysql://root:***@localhost/mydb
8 rows affected.

[(1, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', Decimal('2000.00'), datetime.date(2020, 2, 14), None),
 (2, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('2000.00'), datetime.date(2020, 2, 23), None),
 (3, 'Яковлев Г.Р.', 'T330TT', 'Проезд на запрещающий сигнал', Decimal('1000.00'), datetime.date(2020, 3, 3), None),
 (4, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', Decimal('500.00'), datetime.date(2020, 1, 12), datetime.date(2020, 1, 17)),
 (5, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('1000.00'), datetime.date(2020, 1, 14), datetime.date(2020, 2, 27)),
 (6, 'Яковлев Г.Р.', 'T330TT', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 1, 23), datetime.date(2020, 2, 23)),
 (7, 'Яковлев Г.Р.', 'M701AA', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 1, 12), None),
 (8, 'Колесов С.П.', 'K892AX', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 2, 1), None)]

## 1.7.7 Задание

Создадим таблицу **payment**. Ее описание можно получить командой **DESCRIBE payment**.

In [16]:
%%sql
CREATE TABLE payment
(
    payment_id     INT PRIMARY KEY AUTO_INCREMENT,
    name           VARCHAR(30),
    number_plate   VARCHAR(6),
    violation      VARCHAR(50),
    date_violation DATE,
    date_payment   DATE
);

INSERT INTO payment(name, number_plate, violation, date_violation, date_payment)
VALUES ('Яковлев Г.Р.', 'M701AA', 'Превышение скорости(от 20 до 40)', '2020-01-12', '2020-01-22'),
       ('Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', '2020-02-14', '2020-03-06'),
       ('Яковлев Г.Р.', 'T330TT', 'Проезд на запрещающий сигнал', '2020-03-03', '2020-03-23');

SELECT * FROM payment;

 * mysql://root:***@localhost/mydb
0 rows affected.
3 rows affected.
3 rows affected.

[(1, 'Яковлев Г.Р.', 'M701AA', 'Превышение скорости(от 20 до 40)', datetime.date(2020, 1, 12), datetime.date(2020, 1, 22)),
 (2, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', datetime.date(2020, 2, 14), datetime.date(2020, 3, 6)),
 (3, 'Яковлев Г.Р.', 'T330TT', 'Проезд на запрещающий сигнал', datetime.date(2020, 3, 3), datetime.date(2020, 3, 23))]

Водители оплачивают свои штрафы. В таблице **payment** занесены даты их оплаты.  
Необходимо:
* в таблицу **fine** занести дату оплаты соответствующего штрафа из таблицы payment; 
* уменьшить начисленный штраф в таблице **fine** в два раза  (только для тех штрафов, информация о которых занесена в таблицу **payment**) , если оплата произведена не позднее 20 дней со дня нарушения.

In [17]:
%%sql
UPDATE
    fine AS f,
    payment AS p
SET
    f.date_payment = p.date_payment,
    f.sum_fine = IF(DATEDIFF(p.date_payment, p.date_violation) <= 20, f.sum_fine / 2, f.sum_fine)
WHERE
    (f.name, f.number_plate, f.violation, f.date_violation) =
    (p.name, p.number_plate, p.violation, p.date_violation) AND
    f.date_payment IS NULL;

 * mysql://root:***@localhost/mydb
3 rows affected.

[]

In [18]:
%%sql
SELECT * FROM fine;

 * mysql://root:***@localhost/mydb
8 rows affected.

[(1, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', Decimal('2000.00'), datetime.date(2020, 2, 14), datetime.date(2020, 3, 6)),
 (2, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('2000.00'), datetime.date(2020, 2, 23), None),
 (3, 'Яковлев Г.Р.', 'T330TT', 'Проезд на запрещающий сигнал', Decimal('500.00'), datetime.date(2020, 3, 3), datetime.date(2020, 3, 23)),
 (4, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', Decimal('500.00'), datetime.date(2020, 1, 12), datetime.date(2020, 1, 17)),
 (5, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('1000.00'), datetime.date(2020, 1, 14), datetime.date(2020, 2, 27)),
 (6, 'Яковлев Г.Р.', 'T330TT', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 1, 23), datetime.date(2020, 2, 23)),
 (7, 'Яковлев Г.Р.', 'M701AA', 'Превышение скорости(от 20 до 40)', Decimal('250.00'), datetime.date(2020, 1, 12), datetime.date(2020, 1, 22)),
 (8, 'Колесов С.П.', 'K892AX', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 2, 1), None)]

## 1.7.8 Задание

Создать новую таблицу **back_payment**, куда внести информацию о неоплаченных штрафах (Фамилию и инициалы водителя, номер машины, нарушение, сумму штрафа  и  дату нарушения) из таблицы **fine**.

In [19]:
%%sql
CREATE TABLE back_payment AS
SELECT name, number_plate, violation, sum_fine, date_violation
FROM fine
WHERE date_payment IS NULL;

SELECT * FROM back_payment;

 * mysql://root:***@localhost/mydb
2 rows affected.
2 rows affected.

[('Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('2000.00'), datetime.date(2020, 2, 23)),
 ('Колесов С.П.', 'K892AX', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 2, 1))]

## 1.7.9 Задание

Удалить из таблицы **fine* информацию о нарушениях, совершенных раньше 1 февраля 2020 года.

In [20]:
%%sql
DELETE FROM fine
WHERE
    date_violation < '2020.02.01';

SELECT * FROM fine;

 * mysql://root:***@localhost/mydb
4 rows affected.
4 rows affected.

[(1, 'Баранов П.Е.', 'P523BT', 'Превышение скорости(от 40 до 60)', Decimal('2000.00'), datetime.date(2020, 2, 14), datetime.date(2020, 3, 6)),
 (2, 'Абрамова К.А.', 'О111AB', 'Проезд на запрещающий сигнал', Decimal('2000.00'), datetime.date(2020, 2, 23), None),
 (3, 'Яковлев Г.Р.', 'T330TT', 'Проезд на запрещающий сигнал', Decimal('500.00'), datetime.date(2020, 3, 3), datetime.date(2020, 3, 23)),
 (8, 'Колесов С.П.', 'K892AX', 'Превышение скорости(от 20 до 40)', Decimal('500.00'), datetime.date(2020, 2, 1), None)]